<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/static/images/favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>Jamhacks 6 - Successfully verified {{name}}</title>
    <meta name="author" content="Luke Zhang <luke_zhang_04@protonmail.com>" />
    <meta name="copyright" content="2022 Luke Zhang" />
    <meta name="description" content="Jamhacks 6 verification system" />
    <meta name="owner" content="Jamhacks" />
    <meta name="subject" content="Jamahacks verification system" />
    <meta name="theme-color" content="#7b0ff7" />
    <meta name="url" content="https://verify.jamhacks.ca" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="SJamhacks 6 - uccessfully verified {{name}}" />

    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/success.css" />
  </head>
  <body>
    <div class="main-container container">
      <p class="text-primary">Thank you for verifying {{name}}!</p>
    </div>
  </body>
</html>
