<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/static/images/favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>JAMHacks 6 - Verify {{username}}#{{discriminator}} for {{email}}</title>
    <meta name="author" content="Luke Zhang <luke_zhang_04@protonmail.com>" />
    <meta name="copyright" content="2022 Luke Zhang" />
    <meta name="description" content="JAMHacks 6 verification system" />
    <meta name="owner" content="JAMHacks" />
    <meta name="subject" content="Jamahacks verification system" />
    <meta name="theme-color" content="#7b0ff7" />
    <meta name="url" content="https://verify.jamhacks.ca" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="title"
      content="JAMHacks 6 - Verify {{username}}#{{discriminator}} for {{email}}"
    />

    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/verify.css" />
  </head>
  <body>
    <div class="main-container container">
      <p class="text-primary">
        Hello {{name}}! Please confirm that
        <strong>{{username}}#{{discriminator}}</strong>
        is your Discord account, and
        <strong>{{email}}</strong>
        is your email address.
      </p>
      <img
        class="profile-img"
        src="{{{avatarURL}}}"
        alt="Avatar of {{username}}#{{discriminator}}"
      />
      <p class="nametag">
        <span class="username">{{username}}</span
        ><span class="discriminator">#{{discriminator}}</span>
      </p>
      <a href="/confirm/{{{rawData}}}" class="btn btn-primary">Confirm</a>
      <small class="text-primary" style="margin-top: 10px">
        By verifying your account and/or participating in JAMHacks, you agree to adhere to our
        <a
          href="https://jamhacks.notion.site/jamhacks/Code-of-Conduct-JAMHacks-6-bf2543f05ece4b3e8778a1e6006f3691"
          target="_blank"
        >
          code of conduct</a
        >
        during the event, and you confirm that you have read and fully understand our
        <a href="https://jamhacks.ca/privacy-policy" target="_blank">privacy policy</a>.</small
      >
    </div>
  </body>
</html>
